site_name: COMP 3211 - Advanced Databases
theme:
  name: material
  features:
    - navigation.top
    - navigation.sections


nav:
  - Home: index.md
  - Lecture 2 Data Types and Operations: lecture_2.md

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.arithmatex:
      generic: true
  - toc:
      toc_depth: 2

extra_javascript:
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
 